<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
      <ion-buttons end>
        <button class="btn-top btn-chat" clear icon-only ion-button>
          <ion-icon button-end name='md-share' color="dark"></ion-icon>
        </button>
        <button class="btn-top btn-chat" clear icon-only ion-button>
            <ion-icon button-end name='ios-bookmark-outline' color="dark"></ion-icon>
        </button>
        <button class="btn-top btn-chat" clear icon-only ion-button>
            <ion-icon button-end name='md-more'color="dark"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="div-content">
    <div class="div-head" text-center>
      <img src="../assets/imgs/logoIJ.png"/>
      <h1>2/2</h1>
      <p>Dirección y Contacto</p>
    </div>

    <form [formGroup]="form_step2" (ngSubmit)="showAlert()">

      <ion-row justify-content-center>
        <ion-col col-6  text-center>
          <ion-item>
            <ion-label stacked>Pais</ion-label>
            <ion-select formControlName="country">
                <ion-option *ngFor="let country of countries" value="{{country}}" >{{ country }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6  text-center>
          <ion-item>
            <ion-label stacked>Edo./Prov./Dpto.</ion-label>
            <ion-select formControlName="state">
              <ion-option *ngFor="let state of states" value="{{state}}" >{{ state }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-6 text-center>
          <ion-item>
            <ion-label stacked>Ciudad</ion-label>
            <ion-select formControlName="city">
              <ion-option *ngFor="let city of cities" value="{{city}}" >{{ city }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-12 text-center>
          <ion-item>
            <ion-label stacked>Dirección</ion-label>
            <ion-input type="text" formControlName="direction"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-4 text-center>
          <ion-item>
            <ion-label stacked>Cod. de Pais</ion-label>
            <ion-select formControlName="cod_country">
                <ion-option value="+58">+58</ion-option>
                <ion-option value="+57">+57</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <div class="col-divider"></div>
        <ion-col col-7 text-center>
          <ion-item>
            <ion-label stacked>Teléfono</ion-label>
            <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <button ion-button round type="submit" [disabled]="!form_step2.valid" class="btn-submit">Continuar</button>
    </form>
  </div>

</ion-content>

