page-register {
     text-align: center;
     background-color: #f8f8f8 !important;
    
    // ion-col{
    //     padding: 0px 10px !important;
    // }

    // .col-direction{
    //     .item-md{
    //         width: 300px;
    //     }
    // }

    // .col-phone{
    //     .item-md{
    //        margin-left: 10px;
    //     }
    // }

    // .col-codPhone{
    //     .item-md{
    //         width: 80px;
    //     }
    // }


    // form{
    //     padding: 0px 20px 0px 5px;
    // }

    .col-divider{
        width: 8.33%;
    }

}